# Ignore all the bundles because the update_bundles script can just go get them from GitHub
bundle
# Ignore 3rd party packages downloaded during installation
packages

# OSX

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Vagrant

.vagrant/

